.wrapper {
  padding: 20px 30px;
  border-bottom: 1px solid #EAEAED;
}

.input {
  display: block;
  border: none;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  color: #888891;
}
